* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e38724;
    --secondary-color: #a7a9ac;
    --font-family: 'century gothic';
}

html {
    --font-family: 'century gothic';
}

.button-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.btn-translation {
    background-color: var(--primary-color);
}

body {
    font-family: var(--font-family);
    text-transform: uppercase;
    background-color: #00070d;
}

.active {
    color: white;
}

/* Styles for dropdown */
/* Show dropdown menu on hover for main dropdowns */
.navbar-nav .nav-item.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Show dropdown menu on hover for sub-dropdowns */
.navbar-nav .nav-item.dropdown .dropdown-menu .dropend:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item {
    color: #ffffff;
    background-color: black;
    font-family: century gothic;
    font-size: 10px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff !important;
    font-family: century gothic;
    background-color: black;
}

/* Apply the 3D effect when the item is clicked */
.dropdown-item {
    transition: transform 0.2s;
}

.dropdown-item:active {
    transform: translateY(3px);
}

/* media querires for the dropdown */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: transparent;
    }
}

/* Styles for the arrows */
.arrows-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 25%;
    left: 51%;
    transform: translateX(-50%);
    width: 100%;
}
  
  #left_arrow img, #right_arrow img {
    height: 30%
    
  }
  

/* #right_arrow img {
    float: right;
    right: 21px;
    z-index: 10;
    float: right;
    top: 60%;
    position: fixed;

}

#left_arrow img {
    z-index: 10;
    top: 60%;
    left: 21px;
    position: fixed;

} */

/* styles for the icon-bar */
.icon-bar {
    position: fixed;
    top: 41%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2.2%;
    z-index: 10;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 3px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.icon-bar a:hover {
    color: var(--primary-color);
}

/* Welcome text styles for smaller screens (iPhone 5, 6/7/8, 6/7/8 Plus) */
@media (max-width: 414px) {
    .arrows-container {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 25%;
        left: 51%;
        transform: translateX(-50%);
        width: 100%;
    }
      
      #left_arrow img, #right_arrow img {
        height: 30%
        
      }
    /* #right_arrow img {
        float: right;
        right: 15px;
        z-index: 10;
        top: 40%;
        position: fixed;
    }

    #left_arrow img {
        z-index: 10;
        top: 40%;
        left: 15px;
        position: fixed;
    } */

    .icon-bar {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        right: 2%;
        z-index: 10;
    }
}

.iso-certificates {
    display: flex;
    justify-content: center;
    column-gap: 2%;
}

/* index page styles */
/* Welcome text styles for larger screens */
.welcometext {
    margin-top: 5em;
}

.welcometext h1 {
    color: #32373c;
    font-size: 72px;
    font-weight: 700;
    line-height: 61px;
}

span.welomeTo {
    font-size: 36px;
    font-weight: lighter;
    color: var(--secondary-color);
    display: inline-block;
    position: relative;
    top: -10px;
    right: 3%;
}

span.welcomeNext {
    color: #e38724;
    margin-right: 4%;
}

/* Welcome text styles for smaller screens (iPhone 5, 6/7/8, 6/7/8 Plus) */
@media (max-width: 414px) {
    .col-12 {
        display: flex !important;
        justify-content: flex-end !important;
    }

    .welcometext {
        margin-top: 1em;
    }

    .welcometext h1 {
        font-size: 42px !important;
        line-height: 48px !important;
        color: #32373c;
    }

    span.welomeTo {
        font-size: 16px;
        font-weight: lighter;
        color: var(--secondary-color);
    }

    span.welcomeNext {
        /* font-size: 67px; */
        color: #e38724;
        margin-right: 4%;
    }

}

/* styles for the particles */
/* styles for the ts particles */
canvas {
    display: block;
}

#tsparticles {
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
}

/* styles for the about us page */
/* styles for he who are we text */
.welcometext_about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 8%;
    left: 20%;
}

.welcometext_about h1 {
    font-size: 55px;
    line-height: 55px;
    color: #1e2933;
    letter-spacing: 0px;
    margin-left: 13%;
    position: absolute;
    top: 17%;
    font-weight: bold;
}

.welcometext_about span.welcomeNext {
    font-size: 25px;
    font-weight: lighter;
    color: var(--secondary-color);
    margin-left: 50%;
    position: relative;
    top: -20px;
}

span .dots {
    font-size: 16px;
}

/* Welcome text styles for smaller screens (iPhone 5, 6/7/8, 6/7/8 Plus) */
@media (max-width: 414px) {
    .welcometext_about {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 7%;
        left: 47%;
    }

    .welcometext_about h1 {
        font-size: 30px;
        line-height: 45px;
        position: absolute;
        font-weight: bold;
    }

    .welcometext_about span.welcomeNext {
        font-size: 20px;
        font-weight: lighter;
        color: rgb(167, 169, 172);
        margin-left: 50%;
        position: relative;
        top: -20px;
    }

    span .dots {
        font-size: 10px;
    }
}

/* styles for the chairman image */
#main_about_us .card_img {
    border: 1px solid #e38724;
    width: 335px;
    height: 374px;
    padding: 2px;
    margin: 0 auto;
    margin-top: 50%;
}

#main_about_us .card_img img {
    width: 331px;
    margin: 0 auto;
    height: 369px;
    object-fit: cover;
    border: 1px solid #e38724;
}

#main_about_us .card-footer {
    border: 0;
    background: transparent;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-family: var(--font-family);
    color: var(--secondary-color);
}

.card {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#arabic {
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-title {
    color: var(--primary-color);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 18px;
    letter-spacing: 1px;
}

span.card-text {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--secondary-color);

}

/* styles for the paragraphs for big screens */
.main_content_about_us.about-para p {
    line-height: 18px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: var(--font-family);
    color: var(--secondary-color);
    text-transform: none;
}

/* styles for the eng-nazih */
.sing_aboutus p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
}

/* Welcome text styles for smaller screens (iPhone 5, 6/7/8, 6/7/8 Plus) */
@media (max-width: 414px) {
    #main_about_us .card_img {
        border: 1px solid #e38724;
        width: 246px;
        height: 308px;
        padding: 2px;
        margin: 0 auto;
    }

    #main_about_us .card_img img {
        width: 240px;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
        border: 1px solid #e38724;
    }

    #main_about_us .card {
        background-color: transparent;
    }

    div#arabic {
        display: flex;
        justify-content: center;
    }

    .card-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card-title {
        color: var(--primary-color);
        font-weight: bold;
        font-family: var(--font-family);
        font-size: 13px;
        letter-spacing: 1px;
    }

    span.card-text {
        font-size: 11px;
        text-transform: capitalize;
        color: var(--secondary-color);

    }

    #main_about_us .card-footer {
        border: 0;
        background: transparent;
        font-size: 11px;
        text-align: center;
        font-style: italic;
        font-family: var(--font-family);
        color: var(--secondary-color);
    }

    .main_content_about_us.about-para p {
        line-height: 1.3;
        text-align: justify;
        font-size: 14px;
        margin-bottom: 30px;
        font-family: var(--font-family);
        color: var(--secondary-color);
    }
}